p{margin: 0;padding: 0;}
#content{margin: 120px;}
.field{position: relative;width: 300px;float: left;margin: 0 15px;}
.field input[type='text']{width: 100%;height: 30px;}
.suggestions{width: 100%;background-color: #fff;position: absolute;top: 36px;}
.suggestions p{cursor: pointer;display: block;padding: 8px 4px;}
.suggestions p:hover{background-color: #eee;}